
/***
 *
 *  Register.html area
 *
 */

#background {
    position: fixed; top: 0; left: 0;
    min-width: 1024px;
    background-color: #000000aa;
    width:100%;
    height:100%;
    background-image:url(../img/matrix_bg.jpg);/*your background image*/  
    background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
    background-size:cover;/*this sets the image to fullscreen covering the whole screen*/  
    /*css hack for ie*/     
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/matrix_bg.jpg',sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/matrix_bg.jpg',sizingMethod='scale')";
}

#register > .content {
    position: relative;
    min-width: 900px;
    margin: auto;
    top: 130px;
    width: 80%;
    height: 100%;
}

#register_title {
    position: absolute;
    width:  100%;
    height: 100px;
}

#register_title > .title {
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    color: white;
    font-size: 3.7vw; /*50pt;*/
    font-weight: 700;
}

#reg_conteiner {
    overflow: hidden;
    position: absolute;
    top: 130px;
    height: 100%;
    width: 100%;
}

#reg_info {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 50%;
    height: 100%;
}

#reg_buttons_area {
    position: absolute;
    top: 130px;
    left: 55%;
    width: 50%;
    height: 100%;
}

#reg_info > h2 {
    color: #fee000;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 17pt;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}

#reg_info > p {
    color: white;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14pt;
    font-weight: 400;
}

#reg_buttons_area .reg-city {
    height: 135px;
    width:100%;
}

.reg-city .city-name {
    display: inline-block;
    width: 100%;
    color: #fee000;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 22pt;
    font-weight: 400;
    margin-bottom: 20px;
}

.reg-city .city-descr {
    min-width: 575px;
}

.city-descr .city-address  {
    display: inline-block;
    width:30%;
    color: white;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14pt;
    font-weight: 500;
    margin-right: 30px;
}

.city-descr .date-time  {
    display: inline-block;
    width: 25%;
    color: white;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14pt;
    font-weight: 500;
}

.city-descr .city-go, .city-go-d  {
    display: inline-block;
    width: 200px;
    height:100%;
    max-width: 230px;
    color: white;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 17pt;
    font-weight: 500;
}

.city-go a, .city-go-d a {
    display: block;
    float: left;
    background-color: #e37c00;
    width:100%;
    height:50px;
    line-height: 50px;
    text-align: center;
}

.city-go-d a {
    background-color: #333333;
    color: gray;
}

@media (max-width: 1200px) {

    #register_title {
        height: 130px;
        text-align: center;
    }

    #register_title .title {
        font-size: 50pt;
        font-weight: 700;
        width: 100%;
        bottom: 30px;
    }

    #reg_info {
        width: 35%;
    }

    .reg-city {
        height: 160px;
    }

    .city-descr .city-address {
        width: 30%;
    }

    .city-descr .date-time {
        width: 20%;
    }

    #reg_buttons_area {
        left: 40%;
        width: 65%;
    }
}
