
#speakers_bg {
    position: fixed; top: 0; left: 0;
    width: 100%;
    height: 100%;
    min-width: 1024px;
    min-height: 800px;
    background-image: url("../img/listeners.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

#speakers, #page {
    margin: 0;
    width:100%;
    height:100%;
}

#speakers > .content {
    position: relative;
    min-width: 900px;
    margin: auto;
    top: 130px;
    width: 70%;
    height: 100%;
}

#speakers_title {
    position: absolute;
    width:  100%;
    height: 100px;
}

#speakers_title > .title {
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-family: 'Gotham Pro','Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    color: white;
    font-size: 3.7vw; /*50pt;*/
    font-weight: 700;
}

#speakers_title > .cities {
    position: absolute;
    right: 0px;
    bottom: 0.8vw; /*15px;*/
}

.cities a {
    text-align: right;
    font-family: 'Gotham Pro','Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.3vw; /*16pt;*/
    font-weight: 300;
    margin: 0px 6px;
}

a.choosed {
    text-decoration: underline;
    text-decoration-style: double;
}

#speakers_tables {
    display:none;
    overflow: hidden;
    position: absolute;
    top: 160px;
}

@media (max-width: 1200px) {

    #speakers_tables {
        top: 160px;
    }

    #speakers_title {
        height: 130px;
        text-align: center;
    }

    #speakers_title .title {
        font-size: 50pt;
        font-weight: 700;
        width: 100%;
        bottom: 30px;
    }

    #speakers_title > .cities {
        position: absolute;
        font-size: 16pt;
        font-weight: 300;
        left: 0px;
        bottom: 0px;
    }
    #speakers_title > .cities a {
        font-size: 16pt;
    }
}

#speakers_tables .speaker_entry {
    float:left;
    display: inline-block;
    vertical-align: top;
    min-width: 200px;
    height: auto;
    margin: 0px 10px;
}

#speakers_tables .speaker_entry .company {
    display: block;
    height:80px;
    width:100%;
}

#speakers_tables .speaker_entry .company img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#speakers_tables .speaker_entry .photo img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#speakers_tables .speaker_entry .person {
    display: block;
    height:auto;
    width:100%;
    font-family: 'Gotham Pro','Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14pt;
    font-weight: 400;
    text-align: center;
}

#speakers_tables .speaker_entry .about {
    display: block;
    height: auto;
    width:100%;
    font-family: 'Gotham Pro','Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 11pt;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
}

.company_bold {
    font-weight: 500;
}